div#happy-birthday {
    display: flex;
    align-content: center;
    justify-content: center;
    background: url("../../assets/pixel-heart.webp");
    height: 100%;
}
div#happy-birthday > p {
    font-family: 'Fredoka One', cursive;
    margin: 0;
    background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
}
@media only screen and (max-width: 480px) {
    div#happy-birthday > p {
        margin-top: 5em;
        font-size: 1em;
    }
}

@media only screen and (min-width: 480px) {
    div#happy-birthday > p {
        font-size: 5em;
    }
}

@media only screen and (min-width: 768px) {
    div#happy-birthday > p {
        font-size: 10em;
    }
}

@media only screen and (min-width: 992px) {
    div#happy-birthday > p {
        font-size: 15em;
    }
}
