.App {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: 'Rubik', sans-serif;
    font-weight: 500;
}

.App>nav {

}

.App>main {
    flex-grow: 1;
}
